/*  
  Title: styles.css
  Purpose: apply styling for the map html page
  Author: Daniel Hiscock
  Date: May 2018
  Disclaimer: Capstone Project for the completion of the Advanced Goegraphic Sciences Program at COGS 
 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Class based CSS */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.switch input {
	display: none;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ID based CSS */
#btnClear {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#dataMode {
    margin-left: 10px;
    padding: 10px;
}